<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error[0] + " " + error[1][0] %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
